.chatRoomInfo {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px; /* Padding around the content */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    margin: 0 auto; /* Center the chatRoomInfo component */
}

.chatRoomName {
    font-size: 20px;
    font-weight: bold;
    text-align: center; /* Center the text within the chatRoomName */
}

.messageArea {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 200px); /* 130px는 채팅 입력창과 하단 여백의 높이입니다. 조절이 필요하면 해당 값을 조절하세요. */
    overflow-y: auto;
}

.myMessage {
    text-align: right;
    margin-bottom: 10px;
}

.otherMessage {
    text-align: left;
    margin-bottom: 10px;
}

.systemMessage {
    color: #888;
    text-align: center;
    margin-bottom: 10px;
}

.myMessageContent {
    display: inline-block;
    max-width: 70%;
    background-color: rgba(255, 255, 0, 0.363);
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.otherMessageContent {
    display: inline-block;
    max-width: 70%;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nickNameElement {
    font-weight: bold;
}

.timeElement {
    font-size: 12px;
    color: #888;
}

.profileElement {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

#chatMessageForm {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* 좀 더 큰 패딩 */
    background-color: #f0f0f0;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1); /* 하단 그림자 추가 */
}

#chatMessageForm input {
    flex: 1;
    padding: 10px; /* 패딩 조정 */
    border: 1px solid #ccc;
    border-radius: 4px;
}

#chatMessageForm .chatButton {
    padding: 10px; /* 패딩 조정 */
    margin-left: 20px;
    margin-right: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#chatMessageForm .chatButton:hover {
    background-color: #45a049;
}