/* LocationChangePage.css */

.location-change-page {
    text-align: center; /* 전체 페이지 내용을 중앙 정렬합니다. */
  }
  
  .location-search-button, .location-set-location-button {
    display: inline-block; /* 인라인 블록 요소로 변경하여 중앙 정렬이 가능하도록 합니다. */
  }
  
  #map {
    margin: 0 auto; /* 지도를 중앙에 배치합니다. */
    width: 100%; /* 지도의 너비를 조절합니다. */
    height: 400px; /* 지도의 높이를 설정합니다. */
  }
  
  .location-set-location-button:hover {
    background-color: #45a049; /* 마우스 오버시 색상 변경 */
  }
  .location-set-location-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }